<a href="https://colab.research.google.com/github/twelvesense/first-repository/blob/master/Unit30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기
* 함수에서 위치 인수, 키워드 인수를 사용하는 방법
* 리스트, 딕셔너리 언패킹(unpacking)을 활용하는 방법
## 30.1 위치 인수와 리스트 언패킹 사용하기
* 위치 인수(positional argument): 함수에 인수를 순서대로 넣는 방식

In [ ]:
print(10, 20, 30)

10 20 30

In [ ]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)
print_numbers(10, 20, 30)

10
20
30

리스트나 튜플의 언패킹을 이용한 함수 인수전달 (주의: 개수는 동일할 것)

•	함수(*리스트)

•	함수(*튜플)

In [ ]:
x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [ ]:
print_numbers(*[10, 20, 30])

10
20
30

In [ ]:
x = '123'
print_numbers(*x)

1
2
3

* 가변 인수 함수 만들기

    def 함수이름(*args):        # args는 함수 내부에서 tuple임

In [ ]:
def print_numbers(*args):
    for arg in args:
        print(arg)
print_numbers(10)

10

In [ ]:
print_numbers(10, 20, 30, 40)

10
20
30
40

In [ ]:
x = [10]
print_numbers(*x)

10

In [ ]:
y = [10, 20, 30, 40]
print_numbers(*y)

10
20
30
40

* 고정 인수와 가변 인수를 함께 사용하기

In [ ]:
def print_numbers(a, *args):   # 순서준수: 고정 매개변수를 먼저 지정, 그 다음 매개변수에 *를 붙임
     print(a)
     print(args)

print_numbers(1)

1
()

In [ ]:
print_numbers(1, 10, 20)

1
(10, 20)

In [ ]:
print_numbers(*[10, 20, 30])

10
(20, 30)

In [ ]:
print_numbers(*'123')

1
('2', '3')

# 30.2 키워드 인수(keyword argument) 사용하기
함수의 인수의 순서와 용도를 모두 기억해야 해서 불편함을 해결하고자,

파이썬에서는 인수에 이름(키워드)을 붙여 키워드=값 형식으로 인수를 전달하게 한다.

•	함수(키워드=값)

In [ ]:
def personal_info(name, age, address):
     print('이름: ', name)
     print('나이: ', age)
     print('주소: ', address)

personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

참고로 print 함수에서 사용했던 sep, end도 키워드 인수를 사용한 예입니다.


# 30.3 키워드 인수로 값을 넣는 딕셔너리 언패킹 사용하기

•	함수(**kwargs)                   # 개수 동일 및 딕셔너리의 키는 매개변수와 동일하고 문자열 형태로

•	함수(*kwargs)                     # 딕셔너리의 키만 전달

In [ ]:
def personal_info(name, age, address):
     print('이름: ', name)
     print('나이: ', age)
     print('주소: ', address)
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [ ]:
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

*  키워드 인수를 사용하는 가변 인수 함수 만들기

    >def 함수이름(**kwargs):   # kwargs는 함수 내부에서 dict임        
        >>코드

In [ ]:
def personal_info(**kwargs):
     for kw, arg in kwargs.items():
         print(kw, ': ', arg, sep='')

보통 **kwargs를 사용한 가변 인수 함수는 다음과 같이 함수 안에서 특정 키가 있는지 확인한 뒤 해당 기능을 만든다.

In [ ]:
def personal_info(**kwargs):
    if 'name' in kwargs:    # in으로 딕셔너리 안에 특정 키가 있는지 확인
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

* 고정 인수와 가변 인수(키워드 인수)를 함께 사용하기

In [ ]:
def personal_info(name, **kwargs): # 고정 매개변수 먼저 지정, 그 다음 매개변수에 **를 붙임
     print(name)
     print(kwargs)
personal_info('홍길동')

홍길동
{}

In [ ]:
personal_info('홍길동', age=30, address='서울시 용산구 이촌동')

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

In [ ]:
personal_info(**{'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'})

홍길동
{'age': 30, 'address': '서울시 용산구 이촌동'}

* 위치 인수와 키워드 인수를 함께 사용하기

  함수에서 위치 인수를 받는 *args와 키워드 인수를 받는 **kwargs를 함께 사용
  
  대표적인 함수가 print;  출력할 값을 위치 인수로 넣고 sep, end 등을 키워드 인수로 넣음

In [ ]:
def custom_print(*args, **kwargs):   # 순서준수: *args, **kwargs
     print(*args, **kwargs)
custom_print(1, 2, 3, sep=':', end='')

1:2:3

* 고정 매개변수와 *args, **kwargs 함께 사용하기

>def custom_print(fixed, *args, **kwargs):   # 순서준수: fixed, *args, **kwargs

# 30.4 매개변수에 초깃값 지정하고 생략하기
초깃값은 다음과 같이 함수를 만들 때 매개변수=값 형식으로 지정하고, 함수 이용 시, 

인수를 생략가능하기 때문에, 매개변수의 초깃값을 주로 사용하고, 가끔 다른 값을 쓸 때 활용됨.

>def 함수이름(매개변수=값):
    >>코드

대표적인 예: print 함수의 sep는 초깃값이 ' '(공백), 가끔 sep에 다른 값을 넣어서 사용함.

In [ ]:
def personal_info(name, age, address='비공개'):  # 순서준수: 일반매개변수, 초기값매개변수
     print('이름: ', name)
     print('나이: ', age)
     print('주소: ', address)
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [ ]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

# 퀴즈
```
1. 함수를 def print_numbers(a, b, c):처럼 만들었을 때 이 함수를 호출하는 방법으로 잘못된 것을 고르세요.
    a.	print_numbers(1, 3, 5)
    b.	print_numbers(a=1, b=2, c=3)
    c.	a = [5, 0, 2]
          print_numbers(*a)
    d.	a = [3, 7, 9]
          print_numbers(**a)
    e.	print_numbers(*[9, 1, 2])
하나를 선택하세요.

2. 다음 중 print_numbers(*[10, 20, 30])으로 호출할 수 있는 함수로 올바른 것을 모두 고르세요.
    a.	def print_numbers(args):
    b.	def print_numbers(a, b, c):
    c.	def print_numbers(*args):
    d.	def print_numbers(**kwargs):
    e.	def print_numbers():
하나 혹은 하나 이상을 선택하세요.

3. 다음 중 personal_info(**{'name': '홍길동', 'age': 30})으로 호출할 수 있는 함수로 올바른 것을 모두 고르세요.
    a.	def personal_info(**kwargs):
    b.	def personal_info(*args):
    c.	def personal_info(name='미공개', age=0):
    d.	def personal_info(name, address):
    e.	def personal_info(kwargs):
하나 혹은 하나 이상을 선택하세요.
```

# 30.6 연습문제: 가장 높은 점수를 구하는 함수 만들기

다음 소스 코드를 완성하여 가장 높은 점수가 출력되게 만드세요.

[소스코드]
```
korean, english, mathematics, science = 100, 86, 81, 91
                                           
.......................

max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)
```

[실행 결과]

높은 점수: 100

높은 점수: 91

[정답]

>def get_max_score(*args):
>>    return max(args)

# 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기
표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.
```
[소스코드]

korean, english, mathematics, science = map(int, input().split())

________________

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
```

[예]

[입력]

76 82 89 84

[결과]

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75

낮은 점수: 82.00, 높은 점수: 84.00, 평균 점수: 83.00

[입력]

89 92 73 83

[결과]

낮은 점수: 73.00, 높은 점수: 92.00, 평균 점수: 84.25

낮은 점수: 83.00, 높은 점수: 92.00, 평균 점수: 87.50


[가능한 답들중 한 예]
```
def get_min_max_score(*args):
   return min(args), max(args)

def get_average(**kwargs):
   return sum(kwargs.values())/len(kwargs)
```